.Weather {
    padding: 16px;
    margin: 30px auto;
    border-radius: 4px;
    border: 1px solid #dadde1;
    font-family: arial, sans-serif;  
    color: rgb(135, 135, 135);
}

.Weather h1 {
    display: block;
    margin: 20px 0 0 0;
    color: #878787;    
    font-size: 24px;    
    font-weight: 100;
    line-height: 29px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather canvas {
    display: inline-block;
    margin-right: 10px;
}

.Weather .temperature {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
}

.Weather .unit {
    position: relative;
    top: -32px;
    margin-left: 5px;
    color: rgb(32, 33, 36);    
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
}
